#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Canva
Exec=google-chrome-stable --profile-directory=Default --app=https://canva.com
Icon=/home/asherah/.local/share/applications/icons/canva.png

