#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Font Awesome
Exec=google-chrome-stable --profile-directory=Default --app=https://fontawesome.com/icons
Icon=/home/asherah/.local/share/applications/icons/fontawesome.png
