#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Sign In
Exec=google-chrome-stable --profile-directory=Default --app=https://myaccount.google.com
Icon=/home/asherah/.local/share/applications/icons/google.png

