#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Netflix
Exec=google-chrome-stable --profile-directory=Default --app=https://netflix.com
Icon=/home/asherah/.local/share/applications/icons/netflix.png

