#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Proton OVPNs
Exec=google-chrome-stable --profile-directory=Default --app=https://account.protonvpn.com/account-password
Icon=/home/asherah/.local/share/applications/icons/proton-vpn.png

