#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=TryHackMe
Exec=google-chrome-stable --profile-directory=Default --app=https://tryhackme.com/dashboard
Icon=/home/asherah/.local/share/applications/icons/tryhackme.png

